.noticias-conteudo h2{
    background: rgb(71, 101, 136);
    color: white;
    display: inline-block;
    letter-spacing: 9px;
    box-align: center;
    margin: 45px 0 34px 0;
    padding: 28px 64px;
    position: relative;
    left: 160px;
    

}

.noticias-conteudo {
text-align: center;

}

li {
    display: inline;
    margin: 10px;

}

.noticias-titulo {
width: 338px;
height: 377px;
font-size: 21px;
line-height: 26px;
text-align: left;
}

.cor {
    color: rgb(75,108,147);
}

.blog-box {
width: 179px;
height: 40px;
background-color: #7f7f83;
box-align: center;
text-align: center;
color: white;
letter-spacing: 9px;
padding: 10px;
box-sizing: border-box;
display: inline-block;
position: relative;
right: 180px;
top: 40px;

}

