$colors: (
  menu: #616161,
  theme: #4b6c93,
  section-dark: #e9e9e9,
  highlight: #808083,

  footer: #f4f4f4,
  footer-title: #1e2938,
  footer-default: #545454,

  whatsapp-dark: #5c6e47,
  whatsapp-light: #68992e
);

$breakpoints: (
  tablet: "768px",
  notebook: "900px",
  desktop: "1100px"
);
