.especialidades-topicos a{
  text-decoration: none;
  color:black;
}
.especialidades-topicos h2{
    background: rgb(128, 128, 131);
    padding: 28px 83px;
    display: inline-block;
    color: white;
    letter-spacing: 9px;

    margin: 39px 270px;
}
.especialidades-topicos li{
    max-width: 100%;
    display: inline-block;
}
.especialidades-topicos img{
    width: 203px;
    height: 198px;
    border-radius: 100%;
    border-style: double;
    border-color: rgb(224, 224, 224);
    border-width: 4px;
}
.especialidades-topicos ul{
    display: flex;
    justify-content: space-around;
}
.especialidades-topicos p{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    letter-spacing: 5px;
}