.ultimas-noticias h2{
    background: rgb(71, 101, 136);
    color: white;
    display: inline-block;
    letter-spacing: 9px;
    box-align: center;
    position: relative;
    padding: 28px 64px;
    margin: 0px auto;
    text-align: center;
}

.noticias-conteudo {
  text-align: center;
}

.ultimas-noticias li {
  display: inline-block;
  padding: 10px;
  width: 100%;
  text-align: center;

  img {
    width: 100%;
    max-width: 100%;
    max-height: 220px;
    border-radius:9px;
  }

  a {
    text-decoration: none;
    color: getColor(theme);
  }

  .btn-rm {
    color: #fff;
  }

  @media (min-width: getVP(tablet)) {
    width: calc(100% / 3);
  }
}

.noticias-titulo {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: rgb(75,108,147);

  @media (min-width: getVP(tablet)) {
    text-align: left;
  }
}

.blog-box {
  background-color: #7f7f83;
  box-align: center;
  text-align: center;
  color: white;
  letter-spacing: 9px;
  padding: 11px 56px;
  display: inline-block;

  position: relative;
  margin: 0 auto;
  top: -20px;
}

.ultimas-noticias ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media (min-width: getVP(tablet)) {
    flex-direction: row;
  }
}
.ultimas-noticias {
    width: 100%;

  p {
    text-align: justify;
  }
}
.boxes {
    display: flex;
    flex-direction: column;
}
.noticias {
    padding: 100px 0;
}
.text-box{
  color: grey;
}
