.robotica{
    max-width: 100%;
    background-color: rgb(233, 233, 233);
    background-position: center right ;
    background-repeat: no-repeat;
    object-fit: cover;
    padding: 20px 0;


    @media (min-width: getVP(tablet)) {
      background-image: url(../images/robo.png);
      height: 556px;
      padding: 0;
    }
}
.robotica-conteudo p {
  display: flex;
  flex-direction: row;
  text-align: justify;

  @media (min-width:getVP(tablet)){

    width: 60%;
    line-height: 1.5;
    margin-left: 34px;
  }
}
.robotica-conteudo h2 {
    background: rgb(71, 101, 136);
    color: white;
    display: inline-block;
    letter-spacing: 9px;
    text-align: center;
    padding: 28px 16px;
    margin: 45px auto 0;
    max-width: 100%;

    @media (min-width: getVP(tablet)) {
      margin-left: 34px;
      padding: 28px 64px;
    }
}

.text1 {
  margin-top: 25px;
  max-width: 100%;
  display: inline;

  @media (min-width: getVP(tablet)) {
    margin-top: 50px;
  }
}

.text2 {
  max-width: 100%;
  display: inline;
  height: auto;
  }

