.robotica{
    max-width: 100%;
    background-color: rgb(233, 233, 233);
    background-position: center right ;
    background-repeat: no-repeat;
    object-fit: cover;

    height: 556px;

    @media (min-width: getVP(tablet)){
      background-image: url(../images/cirurgia-robotica.png);

    }
}
.robotica-conteudo p{
  display: flex;
  flex-direction: row;

  @media (min-width:getVP(tablet)){

    width: 60%;
    line-height: 1.5;
    margin-left: 34px;
  }
}
.robotica-conteudo h2{
    background: rgb(71, 101, 136);
    color: white;
    display: inline-block;
    letter-spacing: 9px;
    text-align: center;
    padding: 28px 64px;
    margin-top: 45px;
    margin-left: 34px;
}
.container{
    display: flex;
}
.text1{
    margin-top: 50px;
    height: auto;
    max-width: 100%;
    display: inline;

}
.text2 {
  max-width: 100%;
  display: inline;
  height: auto;

  }

