.about {
  padding: 50px 0 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;

  .container {
    display: flex;
  }

  &-body {
    display: none;

    @media (min-width: getVP(tablet)) {
      display: block;
    }
  }

  &-header {
    ul {
      margin: 20px 0;
      li {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }

  &-title {
    background: getColor(highlight);
    display: inline-block;
    position: relative;
    font-weight: 400;
    color: getColor(light);
    padding: 20px 50px;
    font-size: 28px;
    letter-spacing: 5px;
    transition: 1s background;

    @media (min-width: getVP(tablet)) {
      margin-left: -70px;
    }
  }

  &-info {
    font-size: 13px;
  }


}
