.whatsapp {
    width: 100%;
    font-size: 26px;
    text-align: center;
    box-align: center;
    padding: 15px;
    background: linear-gradient(to bottom, rgba(92,110,70,1) 50%, rgba(104,153,46,1) 50%);

    @media (min-width: getVP(tablet)) {
      background: linear-gradient(to right, rgba(92,110,70,1) 50%, rgba(104,153,46,1) 50%);
    }

    .container {
      display: flex;
      flex-direction: column;

      @media (min-width: getVP(tablet)) {
        flex-direction: row;
      }
    }

    span {
      width: 100%;
      color: white;
      font-size: 20px;
      line-height: 1.5;

      &:first-child {
        margin-bottom: 30px;

        @media (min-width: getVP(tablet)) {
          margin-bottom: 0;
        }
      }

      @media (min-width: getVP(tablet)) {
        width: 50%;
      }
    }

    a {
      text-decoration: none;
      color: #fff;
      display: block;
      font-weight: bold;
    }
}

.whatsapp-icon {
  display: none;

  transform: scale(2);
  padding: 13px;
  width: 57px;
  height: 57px;
  background-color: #81cc2a;
  border-radius: 50%;

  @media (min-width: getVP(tablet)) {
    display: block;
  }
}










