.whatsapp {
    width: 100%;
    font-size: 26px;
    background: linear-gradient(90deg, rgba(92,110,70,1) 50%, rgba(104,153,46,1) 50%);
    text-align: center;
    box-align: center;
    padding: 15px;
}

.whatsapp-item {
    width: 50%;
    color: white;
    font-size: 20px;    
    }   

.iconewp {
    transform: scale(2.0);
    padding: 13px;
    width: 57px;
    height: 57px;
    background-color: #81cc2a;
    border-radius: 50%;
    
}


    







