.#{$prefix}-footer {
  background: #f4f4f4;
  padding: 60px 0;

  .container {
    display: flex;
    flex-direction: column;

    @media (min-width: getVP(tablet)) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  @include e('item') {
    width: 100%;
    text-align: center;

    address {
      line-height: 1.5;
      margin: 15px 0;
      max-width: 35ch;
      color: #535353;

      font: {
        style: normal;
      }
    }

    @media (min-width: getVP(tablet)) {
      width: calc(100% / 3);
    }
  }

  @include e('logo') {
    width: 150px;
    object-fit: contain;
    align-self: center;

    @media (min-width: getVP(tablet)) {
      align-self: flex-start;
    }
  }

  @include e('title') {
    font: {
      size: 28px;
      weight: 400;
    }
  }

}

.#{$prefix}-links {
  margin: 15px 0;

  li {
    list-style: none;
    width: 100%;
    display: block;
    line-height: 1.5;
    text-align: center;
    margin: 5px 0;

    @media (min-width: getVP(tablet)) {
      display: inline-block;
      width: 49%;
      margin: 0;
      text-align: left;
      padding: 0;
    }

    a {
      color: #545454;
      text-decoration: none;
    }
    span {
      margin: 15px 0;
      line-height: 1.5;
    }
  }
}

.copyright {
  width: 100%;
  background: #fff;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}
